.aboutUs{
    width: 100vw;
    height: 92vh;
    margin-top: 8vh;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    
}

.aboutUs p{
    font-size: 18px;
    text-align: center;
    max-width: 90%;
}
.aboutUs h3{
    font-size: 20px;
}
.temb{
    position: absolute;
    top: 70%;
    left: 60%;
    width: 55vw;
    height: 70vh;
    transform: rotate(180deg);
}
@media (max-width: 768px) {
    .aboutUs{
        padding-top: 5vh;
    }
    
    .aboutUs p{
        text-align: center;
        max-width: 90%;
    }
    .aboutUs h3{
        font-size: 20px;
    }
    .temb{
        display: none;
    }
    
}