@media (max-width: 768px) {
    .logIn {
        background-color: white;
      }
      
    .logInForm {
        gap: 7px;
        padding: 20px;
        width: 70vw;
        position: relative;
        border-radius: 10px;
        margin-top:10vh;
      }
      .logInForm .flex-column > label {
        font-weight: 600;
        margin-top: 10px;
      }
      
      .logInForm .inputForm {
        
        height: 45px;
        padding-left: 5px;
      }
      .logInForm .input {
        margin-left: 5px;
        border-radius: 5px;
      }
      .logInForm .flex-row > div > label {
        font-size: 14px;
        font-weight: 400;
      }
      .logInForm .span {
        font-size: 14px;
      }
      
      
      .signUpForm {
        gap: 7px;
        padding: 20px;
        width: 80vw;
        border-radius: 10px;
      }
      ::placeholder {
        font-size: 14px;
      }
      .signUpForm label {

        margin-bottom: 0px;
        margin-top: 0px;
        color: black;
      }
      .signUpForm .input {
        width: 90%;
        padding: 12px;
      }
      .signUpForm .flex-row {
        margin-bottom: 10px;
      }
      
      .signUpForm .p {
        margin-top: 0px;
      }
      
      .logIn .message {
        font-size: 30px;
        width: 100vw;
        text-align: center;
        position: absolute;
        top: 10vh;
      }
      .Btn {
        left: 45vw;
      }
      .temg{
        display: none;
      }
      
}